 /* ----------------------------------------------------
/                      RESET                           /
-----------------------------------------------------*/
html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    /*background: #1a1a2e;
    color: #f0f0f0;*/
    background: #f4f4f4;
    color: #191919;
}
/*
footer {
    margin-top: auto;
    background:#090917;
}
*/
 /* ----------------------------------------------------
/                      FOOTER                          /
-----------------------------------------------------*/
.footer {
    text-align: center;
    padding: 20px 0;
    color: #f97316;
}

 /* ----------------------------------------------------
/                      UTILITY                         /
-----------------------------------------------------*/
.hidden {
    display: none !important;
}

/*-------------------------------------------------
/                               wrapper
--------------------------------------------------*/
.page-wrapper {
    flex: 1;
    overflow-y: auto;
}


 /* ----------------------------------------------------
/                      DARK/LIGHT MODE                 /
-----------------------------------------------------*/
:root {
    --bg: #f4f4f4;
    --text: #191919;
    --surface: #ffffff;
    --surface-2: #ededed;
    --border: rgba(249, 115, 22, 0.2);
    --text-muted: #434343;
    --input-bg: #d3d3d3;
    --card-bg: #f0f0f2;
    --sidebar-bg: #f5f5f7;
    --dropdown-bg: #ebebec;
    --avatar-dropdown-bg: #ebeaea;
}

[data-theme="dark"] {
    --bg: #000121;
    --text: #e8e8e8;
    --surface: #0b132b;
    --surface-2: #22253a;
    --border: rgba(249, 115, 22, 0.25);
    --text-muted: #a0a8b8;
    --input-bg: #2a2d3e;
    --card-bg: #1a1d2e;
    --sidebar-bg: #1e2130;
    --dropdown-bg: #1e2130;
    --avatar-dropdown-bg: #1e2130;
}

body {
    background-color: var(--bg);
    color: var(--text);
}