# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files
# .DS_Store e .env*.local sono già coperti dal .gitignore nella root.

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
*.pem

# typescript
*.tsbuildinfo

app-example

# generated native folders (contengono anche ios/build e android/build)
/ios
/android

# env
.env
.env.local
